body {
	text-align: center;
}

#cat {
	width: 30px;
	height: 30px;
	border-radius: 100%;
	background: url("images/cat1-30px.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

.field {
	border-radius: 5px;
	margin: 0 auto;
	/*max-width: 290px;*/
}

.evenrow {
	display: block;
	padding-left: 30px;
	margin-top: -8px;
}
.oddrow {
	display: block;
	margin-top: -8px;
}

.grid {
	cursor: pointer;
	display: inline-block;
	border-radius: 100%;
	/*border: solid 1px black;*/
	width: 30px;
	height: 30px;
	background-color: #DDDDDD;
}

.opened {
	background-color: orange;
}
/*
.occupied {
	background: url("images/cat1-30px.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

.end {
	background: url("images/cat2-30px.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

.out {
	background: blue;
}
*/
.result {
	color: red;
}
