body {
	text-align: center;
}

/*div {
	color: red;
	font-size: 10;
}*/

#cat {
	width: 30px;
	height: 30px;
	border-radius: 100%;
	background: url("images/cat1-30px.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

.field {
	border-radius: 5px;
	margin: 0 auto;
}

.evenrow {
	display: block;
	padding-left: 15px;
	margin-top: -4px;
}
.oddrow {
	display: block;
	padding-right: 15px;
	margin-top: -4px;
}

.grid {
	cursor: pointer;
	display: inline-block;
	border-radius: 100%;
	/*border: solid 1px black;*/
	width: 30px;
	height: 30px;
	background-color: #DDDDDD;
	vertical-align: top;
}

.grid p {
	/*border: 1px solid blue;*/
	margin: 7px;
	color: red;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.opened {
	background-color: orange;
}
/*
.occupied {
	background: url("images/cat1-30px.jpg");
}
*/
.showPoo {
	background: url("images/poo-30px.jpg");
}
/*
.end {
	background: url("images/cat2-30px.jpg");
}

.out {
	background: blue;
}
*/
.result {
	color: red;
}

#rule {
	max-width: 400px;
	margin: 0 auto;
	text-align: left;
}