---
---
<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Chess</title>
    <meta name="description" content="gomoku">
    <meta name="author" content="Geng">

    <link rel="stylesheet" type="text/css" href="/shared/bootstrap-5.3.2.min.css">
    <link rel="stylesheet" type="text/css" href="css/chess.css">
    <script type="text/javascript" src="/shared/jquery.min.js"></script>
    <script type="text/javascript" src="/shared/bootstrap-5.3.2.bundle.min.js"></script>
    <script type="text/javascript" src="js/chess.js"></script>
</head>

<body>
    <div class="container">
        {% include header.html active-tab='games' breadcrumb-page='Chess' breadcrumb-page-zh='国际象棋' %}

        <h1 id="gameName">Chess</h1>
        <div class="text-center">
            
            <div id="field">

            </div>
            <br>
            <div id="promotion" style="display: none;">
                <label id="pro-label" for="promotion">Promotion: </label>
                <div id="pro-btns" class="btn-group">
                    <button class="btn btn-secondary btn-lg" id="pro-btn-1"></button>
                    <button class="btn btn-secondary btn-lg" id="pro-btn-2"></button>
                    <button class="btn btn-secondary btn-lg" id="pro-btn-3"></button>
                    <button class="btn btn-secondary btn-lg" id="pro-btn-4"></button>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <img src="images/chess/white.jpg" class="me-2">
                <div class="me-4">
                    <h3 id="wlabel" class="media-heading">WHITE</h3>
                    <h1><span id="wwin" class="strong text-danger">WIN</span></h1>
                </div>
                <div>
                    <h3 id="blabel" class="media-heading">BLACK</h3>
                    <h1><span id="bwin" class="strong text-danger">WIN</span></h1>
                </div>
                <img src="images/chess/black.jpg" class="ms-2">
            </div>
            <br>
            <div class="panel penal-default">
                <button id="reset" class="btn btn-secondary">RESET</button>
                <button id="resign" class="btn btn-secondary">RESIGN</button>
            </div>
        </div>

        {% include footer.html %}
    </div>

    <script type="text/javascript">
        var lang = navigator.language;
		if (lang.slice(0, 2) === "zh") {
			$('#title').text("国际象棋");
			$('#gameName').text("国际象棋");
            $('#pro-label').text("升变");
			$('#blabel').text('黑方');
			$('#wlabel').text('白方');
			$('#wwin').text('胜');
			$('#bwin').text('胜');
            $('#reset').text('重新开始');
            $('#resign').text("认输");
		}
    </script>

</body>

</html>