---
---
<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Gomoku</title>
    <meta name="description" content="gomoku">
    <meta name="author" content="Geng">

    <link rel="stylesheet" type="text/css" href="/shared/bootstrap-5.3.2.min.css">
    <link rel="stylesheet" type="text/css" href="css/gomoku.css">
    <script type="text/javascript" src="/shared/jquery.min.js"></script>
    <script type="text/javascript" src="/shared/bootstrap-5.3.2.bundle.min.js"></script>
    <script type="text/javascript" src="js/gomoku.js"></script>
</head>

<body>
    <div class="container">
        {% include header.html active-tab='games' breadcrumb-page='Gomoku' breadcrumb-page-zh='五子棋' %}

        <div>
            <h1 id="gameName">Gomoku</h1>
            <span id="rule">Two players take turns. No bans.</span>
            <div class="text-center field">

            </div>
            <div class="players d-flex justify-content-center align-items-start">
                <div class="d-flex align-items-start me-2">
                    <img src="images/blackpiece.jpg" class="me-2" />
                    <div>
                        <p id="blabel">BLACK</p>
                        <p id="bwin"></p>
                    </div>
                </div>
                <button id="reset" class="btn btn-secondary me-2">RESET</button>
                <div class="d-flex align-items-start">
                    <div class="me-2">
                        <p id="wlabel">WHITE</p>
                        <p id="wwin"></p>
                    </div>
                    <img src="images/whitepiece.jpg" />
                </div>
            </div>
        </div>

        {% include footer.html %}
    </div>

    <script type="text/javascript">
        var lang = navigator.language;
		if (lang.slice(0, 2) === "zh") {
			$('#title').text("五子棋");
			$('#gameName').text("五子棋");
			$('#blabel').html('黑方');
			$('#wlabel').html('白方');
			$('#rule').text('双人游戏，无禁手。');
            $('#reset').text('重新开始');
		}
    </script>

</body>

</html>