#round-num {
    color: #337ab7;;
    background-color: #fff;
}

#round-box {
    width: 150px;
}

#rules {
	text-align: left;
	margin: 0 auto;
	width: 800px;
}

#balance {
	margin: 0 auto;
	padding: 10px 0;
	width: 570px;
	height: 350px;
	background-image: url("../images/balance-middle.jpg");
	background-repeat: no-repeat;
	background-position: center;
}
#left-pan {
	padding: 0 20px;
    width: 250px;
	height:70px;
	float: left;
}
#right-pan {
    /*margin-top: 10px;*/
	padding: 0 20px;
    width: 250px;
	height: 70px;
	float: right;
}

#twelve-coins {
	height: 52px;
	padding: 10px 0;
}
.coin-place {
	display: inline-block;
	width: 52px;
}
.coin {
	display: inline-block;
	border-radius: 100%;
	border: solid 2px #F4A307;
	width: 50px;
	height: 50px;
	background-color: #FABA0E;
}
.coin span {
	color: #FFF1BD;
    line-height: 50px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}