.filled {
    background-color: darkgrey;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.blue {
    background-color: blue;
}

.purple {
    background-color: blueviolet;
}

.yellow {
    background-color: gold;
}

.green {
    background-color: limegreen;
}

.aqua {
    background-color: deepskyblue;
}

.grid:not(.filled) {
    opacity: 0.5;
}
