<div class="sticky-md-top">
    <div class="d-flex justify-content-between">
        <h3 id="list_title_en" class="float-start">List</h3>
        <h3 id="list_title_zh" class="float-start" hidden>列表</h3>
    </div>
    <div id="list" class="list-group">
        {% for post in site.posts limit: include.list_size %}
            {% assign mod = forloop.index | modulo: 2 %}
            <a href="{{ post.url }}"
                {% if mod == 1 %}
                    class="list-group-item list-group-item-action list-group-item-primary"
                {% else %}
                    class="list-group-item list-group-item-action"
                {% endif %}>
                <h6 class="mb-1">{{ post.title }}</h6>
                <small class="mb-1">{{ post.date | date: "%Y-%m-%d %H:%M" }}</small>
            </a>
        {% endfor %}
    </div>
    <nav aria-label="Page navigation" class="mt-2">
        <ul class="pagination pagination-sm">
            {% assign total_page = site.posts.size | minus: 1 | divided_by: include.list_size | plus: 1 %}
            <li id="first-page-item" class="page-item disabled"><a class="page-link" href="javascript:void(0)"  onclick="toPreviousPage()">&laquo;</a></li>
            {% for i in (1..total_page) %}
                <li id="page-item-{{i}}" class="page-item{% if i == 1 %} active{% endif %}"><a class="page-link" href="javascript:void(0)" onclick="toPage({{ i }})">{{ i }}</a></li>
            {% endfor %}
            <li id="last-page-item" class="page-item"><a class="page-link" href="javascript:void(0)" onclick="toNextPage()">&raquo;</a></li>
        </ul>
    </nav>
</div>

<script type="text/javascript">
    const posts = [
        {% for post in site.posts %}
            { title: "{{ post.title }}", date: "{{ post.date | date: "%Y-%m-%d %H:%M" }}", url: "{{ post.url }}" },
        {% endfor %}
    ];
    const listSize = {{ include.list_size }};
    const totalPage = {{ total_page }};
    var currentPage = 1;

    const toPreviousPage = () => {
        if (currentPage > 1) {
            toPage(currentPage - 1);
        }
    };
    const toNextPage = () => {
        if (currentPage < totalPage) {
            toPage(currentPage + 1);
        }
    };
    const toPage = (page) => {
        const list = document.getElementById("list");
        list.innerHTML = "";
        for (let i = 0; i < listSize; i++) {
            p = (page - 1) * listSize + i;
            if (p >= posts.length) {
                break;
            }
            const post = posts[p];
            const a = document.createElement("a");
            a.href = post.url;
            a.className = "list-group-item list-group-item-action" + (i % 2 === 0 ? " list-group-item-primary" : "");
            const h6 = document.createElement("h6");
            h6.className = "mb-1";
            h6.innerText = post.title;
            const small = document.createElement("small");
            small.className = "mb-1";
            small.innerText = post.date;
            a.appendChild(h6);
            a.appendChild(small);
            list.appendChild(a);
        }
        const currentActiveTab = document.getElementById("page-item-" + currentPage);
        const newActiveTab = document.getElementById("page-item-" + page);
        currentActiveTab.classList.remove("active");
        newActiveTab.classList.add("active");
        currentPage = page;
        if (page === 1) {
            document.getElementById("first-page-item").classList.add("disabled");
        } else {
            document.getElementById("first-page-item").classList.remove("disabled");
        }
        if (page === totalPage) {
            document.getElementById("last-page-item").classList.add("disabled");
        } else {
            document.getElementById("last-page-item").classList.remove("disabled");
        }
    };

    if (window.navigator.language.startsWith("zh")) {
        document.getElementById("list_title_en").setAttribute("hidden", "");
        document.getElementById("list_title_zh").removeAttribute("hidden");
    } else {
        document.getElementById("list_title_en").removeAttribute("hidden");
        document.getElementById("list_title_zh").setAttribute("hidden", "");
    }
</script>