<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>划线排版</title>
    <meta name="description" content="Words Free Arrangement">
    <meta name="author" content="Geng">

    <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <style>
        .unselectable {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    </style>
</head>

<body>
    <div class="container">
        <header>
            <div id="header-nav">
                <ul class="nav nav-tabs">
                    <li role="presentation" class="nav-item"><a class="nav-link" href="/index.html">HOME</a></li>
                    <li role="presentation" class="nav-item"><a class="nav-link" href="/cv.html">My CV</a></li>
                    <li role="presentation" class="nav-item"><a class="nav-link" href="/games/index.html">GAME</a></li>
                    <li role="presentation" class="nav-item"><a class="nav-link" href="/math/index.html">MATH</a></li>
                    <li role="presentation" class="nav-item"><a class="nav-link active" href="/tool/index.html">TOOL</a></li>
                    <li role="presentation" class="nav-item"><a class="nav-link" href="/blog/index.html">BLOG</a></li>
                </ul>
            </div>
            <br>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="index.html">Tool</a></li>
                <li class="breadcrumb-item active">Free Arrangement</li>
            </ol>
        </header>
        <h1 id="title">划线排版 <small>微博文字排列工具</small></h1>
        <ul class="small text-secondary">
            <li>宽度暂时设置为23字，长度不限，会自动向下扩张。</li>
            <li>建议从左上角第一格开始排版。微博会删除第一个字符之前的空格与回车。</li>
            <li>英文字符和数字可能会破坏其右边的排版，建议避免在同一行右侧出现其他文字。</li>
            <li>暂不支持手机操作。</li>
            <li>微博转发和评论会强制合并为一行，因而无法使用。只能用于原创微博。</li>
        </ul>
        <div class="container" id="app">
            <div class="row">
                <textarea class="col-12" id="text-input" v-model="textInput" rows="4" placeholder="输入文字（换行符将被忽略）"></textarea>
            </div>
            <div class="row mt-1">
                <button type="button" class="col-auto mr-auto btn btn-outline-dark" v-on:click="textInput = ''">全部删除</button>
                <p class="col-auto" id="text-length">字数：{{ textTrimmed.length }}</p>
            </div>
            <br>
            <div class="row">
                <div class="col" id="left-area">
                    <div class="mb-2">
                        <button type="button" class="btn btn-outline-dark" v-on:click="clearCanvas()">清除</button>
                        <button type="button" class="btn btn-outline-dark" v-on:click="undoLast()">后退</button>
                    </div>
                    <table class="table unselectable" id="canvas" style="cursor: default">
                        <thead>
                            <tr>
                                <td class="small p-0 text-right" v-for="col, c in canvas[0]">{{ c + 1 }}</td>
                            </tr>
                        </thead>
                        <tbody class="table-bordered text-center">
                            <tr class="" v-for="row, r in canvas">
                                <td class="p-1" v-for="col, c in row" v-on:mousedown.left="mouseDown(r, c)" v-on:mouseenter.left="mouseEnter(r, c)" v-on:mouseup.left="mouseUp(r, c)">
                                    <span class="text-secondary position-absolute">{{ canvasOverlay[r][c] }}</span>
                                    <span class="text-dark">{{ canvas[r][c] }}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-xl col-lg-6 col-md-12" id="right-area">
                    <div class="mb-2">
                        <button type="button" class="btn btn-outline-dark" v-on:click="copyToClipboard()">拷贝到剪贴板</button>
                        <span class="ml-2 text-danger">{{ clipboardErrorMessage }}</span>
                    </div>
                    <div class="border p-2" v-html="textOutput.replace(/\n/g, '<br>')"></div>
                </div>
            </div>
        </div>

        <hr>

        <footer>
            <div id="footer-copyright"><p> &copy; Copyright by Geng </p></div>
        </footer>
    </div>

</body>
<script type="text/javascript" src="js/freewords.js"></script>
</html>