<!DOCTYPE html>
<html>
<head>
    <title>Blog</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/shared/bootstrap-5.3.2.min.css" rel="stylesheet">
    <script type="text/javascript" src="/shared/bootstrap-5.3.2.bundle.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div class="container">
        <div id="header"></div>

        <div id="app">
            <div class="form-group">
                <div class="input-group mb-2">
                    <div class="btn-group me-2" role="group">
                        <button @click="onFontBold" class="btn btn-outline-secondary"><img src="../octicons/svg/bold.svg"></button>
                        <button @click="onFontItalic" class="btn btn-outline-secondary"><img src="../octicons/svg/italic.svg"></button>
                        <button @click="onFontStrike" class="btn btn-outline-secondary"><img src="../octicons/svg/strikethrough.svg"></button>
                        <button class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><img src="../octicons/svg/book.svg">&nbsp;</button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item h1" href="#" @click="onHead(1)">标题 H1</a></li>
                            <li><a class="dropdown-item h2" href="#" @click="onHead(2)">标题 H2</a></li>
                            <li><a class="dropdown-item h3" href="#" @click="onHead(3)">标题 H3</a></li>
                            <li><a class="dropdown-item h4" href="#" @click="onHead(4)">标题 H4</a></li>
                            <li><a class="dropdown-item h5" href="#" @click="onHead(5)">标题 H5</a></li>
                            <li><a class="dropdown-item h6" href="#" @click="onHead(6)">标题 H6</a></li>
                        </ul>
                    </div>
                    <div class="btn-group me-2" role="group">
                        <button @click="onAddCode" class="btn btn-outline-secondary"><img src="../octicons/svg/code.svg"></button>
                        <button class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#imageFileInput"><img src="../octicons/svg/file-media.svg"></button>
                        <button @click="onAddLink" class="btn btn-outline-secondary"><img src="../octicons/svg/link.svg"></button>
                        <button @click="onAddHr" class="btn btn-outline-secondary"><img src="../octicons/svg/horizontal-rule.svg"></button>
                        <button @click="onAddQuote" class="btn btn-outline-secondary"><img src="../octicons/svg/quote.svg"></button>
                    </div>
                    <div class="btn-group" role="group">
                        <button @click="onListUnordered" class="btn btn-outline-secondary"><img src="../octicons/svg/list-unordered.svg"></button>
                        <button @click="onListOrdered" class="btn btn-outline-secondary"><img src="../octicons/svg/list-ordered.svg"></button>
                    </div>
                </div>

                <div class="mb-2">
                    <input id="titleInput" v-model="title" type="text" class="form-control mb-2" :placeholder="titleHint">
                </div>
                
                <div class="input-group">
                    <textarea 
                        id="textInput" 
                        ref="textInputRef"
                        v-model="input" 
                        class="form-control mb-2 col" 
                        rows="10" 
                        @select="updateCursorPosition"
                        @mouseup="updateCursorPosition"
                        @keyup="updateCursorPosition"></textarea>
                    <div id="preview" class="col-sm-12 col-md-6 ms-2" v-html="inputHtml" v-if="showPreview"></div>
                </div>
                <div>{{ selectionStart }} - {{ selectionEnd }} : {{ input.slice(selectionStart, selectionEnd) }}</div>
                
                <div class="d-flex justify-content-end">
                    <button id="preview" class="btn btn-primary" type="button" data-bs-toggle="button" @click="showPreview = !showPreview">{{ previewButton }}</button>
                    <button id="save" class="btn btn-primary ms-2" @click="save">{{ saveButton }}.</button>
                </div>
            </div>

            <div class="modal fade" id="imageFileInput" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">\blog\images\...</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <input type="file" class="form-control" id="imageFile" accept="image/*" @change="onSelectImage">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" @click="onAddImage" :disabled="!selectedImage">确定</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="footer"></div>
    </div>

    <script src="/shared/loadSharedUI.js" data-active-tab="blog" data-breadcrumb-page="Edit" data-breadcrumb-page-zh="编辑"></script>
    <script type="text/javascript">
        const { createApp } = Vue
        const app = createApp({
            data() {
                return {
                    title: "",
                    input: "",
                    selectionStart: 0,
                    selectionEnd: 0,
                    selectedImage: "",
                    showPreview: false,
                    previewButton: "预览",
                    saveButton: "保存为...",
                    titleHint: "请输入标题"
                }
            },
            computed: {
                inputHtml() {
                    return this.mdToHtml(this.input);
                }
            },
            methods: {
                save() {
                    content = `# ${this.title}\n\n`;
                    const date = this.getDate();
                    const filename = this.getFilename(date);
                    content += `${date}\n\n`;
                    content += this.input;
                    const blob = new Blob([content], {type: "text/plain;charset=utf-8"});
                    const url = URL.createObjectURL(blob);
                    const a = document.createElement("a");
                    a.href = url;
                    a.download = filename + ".md";
                    a.click();
                    URL.revokeObjectURL(url);
                    a.remove();

                    this.updateList(this.title, date, filename);
                },
                getDate () {
                    let date = new Date();
                    let twoDigits = num => String(num).padStart(2, '0');
                    return `${date.getFullYear()}-${twoDigits(date.getMonth() + 1)}-${twoDigits(date.getDate())} ${twoDigits(date.getHours())}:${twoDigits(date.getMinutes())}:${twoDigits(date.getSeconds())}`;
                },
                getFilename(date) {
                    return `${date.substring(2, 4)}${date.substring(5, 7)}${date.substring(8, 10)}${date.substring(11, 13)}${date.substring(14, 16)}`;
                },
                updateList(title, date, filename) {
                    fetch('list.json')
                        .then(response => response.json())
                        .then(data => {
                            const list = data.list;
                            list.unshift({title, date, filename});
                            const blob = new Blob([JSON.stringify({list}, null, 2)], {type: "application/json;charset=utf-8"});
                            const url = URL.createObjectURL(blob);
                            const a = document.createElement("a");
                            a.href = url;
                            a.download = "list.json";
                            a.click();
                            URL.revokeObjectURL(url);
                            a.remove();
                        });
                },

                mdToHtml(md) {
                    const paragraphs = md
                        // Remove carriage returns
                        .replace(/\r\n/g, '\n')
                        // Split paragraphs to isolate code blocks
                        .split(/\n```\n|\n```$/)
                        .flatMap((textOrCode, index) => {
                            if (index % 2 === 0) {
                                return this.textBlockToHtml(textOrCode);
                            } else {
                                // Convert code blocks
                                return [this.codeBlockToHtml(textOrCode)];
                            }
                        });

                    // console.log(paragraphs)
                    return paragraphs.join('');
                },
                textBlockToHtml(text) {
                    // Wrap heading lines with line breaks to prevent them from being merged into paragraphs
                    text = text.replace(/^(#{1,6} .*)$/gm, '\n$1\n');
                    // Convert horizontal rules
                    text = text.replace(/^\-\-\-$|!\_\_\_$/gm, '\n<hr>\n');
                    // Convert text to paragraphs
                    text = text
                        .split(/\n{2,}/)
                        .map(paragraph => {
                            paragraph = paragraph.trim();
                            // Wrap paragraphs in tags
                            if (/^#{1,6} /.test(paragraph)) {
                                paragraph = this.headingToHtml(paragraph);
                            } else if (/^\>/.test(paragraph)) {
                                paragraph = this.blockquoteToHtml(paragraph);
                            } else if (/^\d+\.\s+/.test(paragraph)) {
                                paragraph = this.orderedListToHtml(paragraph);
                            } else if (/^[\*\-\+]\s+/.test(paragraph)) {
                                paragraph = this.unorderedListToHtml(paragraph);
                            } else {
                                paragraph = this.textToHtml(paragraph);
                            }
                            return paragraph;
                        });
                    // Find consecutive ordered/unordered lists
                    // remove </ol> or </ul> from the first one end and <ol> or <ul> from the second one head
                    for (let i = 0; i < text.length - 1; i++) {
                        if (text[i].endsWith('</ol>') && /^\<ol\>|^\<ol start\=\"\d+\"\>/.test(text[i + 1])) {
                            text[i] = text[i].slice(0, -5);
                            text[i + 1] = text[i + 1].replace(/^\<ol\>|^\<ol start\=\"\d+\"\>/, '');
                        } else if (text[i].endsWith('</ul>') && text[i + 1].startsWith('<ul>')) {
                            text[i] = text[i].slice(0, -5);
                            text[i + 1] = text[i + 1].slice(4);
                        }
                    }
                    // Split paragraphs to isolate inline code
                    return text
                        .flatMap(paragraph => {
                            return paragraph.split(/(?<!\\)`(.+?)(?<!\\)`/gs).map((textOrCode, index) => {
                                if (index % 2 === 0) {
                                    return this.escapeText(textOrCode)
                                        // Convert images
                                        .replace(/!\[(.*?)\]\((.*?)\)/gs, '<img src="$2" alt="$1" class="img-fluid mb-3" style="max-width: 100%;">')
                                        // Convert links
                                        .replace(/\[(.*?)\]\((.*?)\)/gs, '<a href="$2">$1</a>')
                                        // Convert emphasis
                                        .replace(/\*\*(.+?)\*\*/gs, '<strong>$1</strong>')
                                        .replace(/\*(.+?)\*/gs, '<em>$1</em>')
                                        // Convert strikethrough
                                        .replace(/~~(.+?)~~/gs, '<del>$1</del>');
                                } else {
                                    // Convert inline code
                                    return this.codeToHtml(textOrCode);
                                }
                            });
                        });
                },
                codeBlockToHtml(code) {
                    code = this.escapeCode(code);
                    return '<pre class="bg-light p-2" style="white-space: pre-wrap"><code>' + code + '</code></pre>';
                },
                codeToHtml(code) {
                    code = this.escapeCode(code);
                    return '<code>' + code + '</code>';
                },
                headingToHtml(heading) {
                    // Assume: single line, starts with 1-6 #s followed by a space
                    // When assume failed, should treat as text

                    // Get the text
                    const text = heading.replace(/^#{1,6} /, '');
                    // Get the level
                    const level = heading.length - text.length - 1;
                    if (level < 1 || level > 6) {
                        // Treat as text
                        return this.textToHtml(heading);
                    }
                    return '<h' + level + '>' + text.trim() + '</h' + level + '>';
                },
                blockquoteToHtml(blockquote) {
                    // Assume: single or multiple lines, first line or each line starts with >
                    // When assume failed, should throw error
                    if (!blockquote.startsWith('>')) {
                        throw new Error('Blockquote should start with >. Got: ' + blockquote);
                    }

                    return '<blockquote class="blockquote">' + blockquote.replace(/^\>\s*(.*)$/gm, '$1') + '</blockquote>';
                },
                orderedListToHtml(list) {
                    // Assume: single or multiple lines
                    // first and maybe more lines start with number followed by a dot and one or more spaces
                    // When assume failed, should throw error
                    if (!list.match(/^\d+\.\s+/)) {
                        throw new Error('Ordered list should start with a number. Got: ' + list);
                    }

                    // Get the number in the first line.
                    const number = list.match(/^\d+/)[0];
                    // Replace all the leading numbers with </li><li>
                    list = list.replace(/^\d+\.\s+/gm, '</li><li>');
                    // Remove the first </li>
                    list = list.replace(/^<\/li>/, '');
                    // add the <ol> tags and set the start number
                    return '<ol start="' + number + '">' + list + '</li></ol>';
                },
                unorderedListToHtml(list) {
                    // Assume: single or multiple lines
                    // first and maybe more lines start with *, - or + followed by one or more spaces
                    // When assume failed, should throw error
                    if (!list.match(/^[\*\-\+]\s+/)) {
                        throw new Error('Unordered list should start with *, - or +. Got: ' + list);
                    }

                    // Replace all the leading *, - or + with </li><li>
                    list = list.replace(/^[\*\-\+]\s+/gm, '</li><li>');
                    // Remove the first </li>
                    list = list.replace(/^<\/li>/, '');
                    // add the <ul> tags
                    return '<ul>' + list + '</li></ul>';
                },
                textToHtml(text) {
                    return '<p>' + text + '</p>';
                },
                escapeCode(code) {
                    return code.replace(/&/g, '&amp;')
                        .replace(/</g, '&lt;')
                        .replace(/>/g, '&gt;');
                },
                escapeText(text) {
                    return text.replace(/\\(.)/g, match => {
                        switch (match[1]) {
                            case '~':
                                return '&#126;';
                            case '`':
                                return '&#96;';
                            case '!':
                                return '&#33;';
                            case '@':
                                return '&#64;';
                            case '#':
                                return '&#35;';
                            case '$':
                                return '&#36;';
                            case '%':
                                return '&#37;';
                            case '^':
                                return '&#94;';
                            case '&':
                                return '&amp;';
                            case '*':
                                return '&#42;';
                            case '_':
                                return '&#95;';
                            case '-':
                                return '&#45;';
                            case '+':
                                return '&#43;';
                            case '=':
                                return '&#61;';
                            case '{':
                                return '&#123;';
                            case '}':
                                return '&#125;';
                            case '[':
                                return '&#91;';
                            case ']':
                                return '&#93;';
                            case '(':
                                return '&#40;';
                            case ')':
                                return '&#41;';
                            case '|':
                                return '&#124;';
                            case '\\':
                                return '&#92;';
                            case ':':
                                return '&#58;';
                            case ';':
                                return '&#59;';
                            case '"':
                                return '&quot;';
                            case '\'':
                                return '&#39;';
                            case '<':
                                return '&lt;';
                            case '>':
                                return '&gt;';
                            case '.':
                                return '&#46;';
                            case '?':
                                return '&#63;';
                            case ',':
                                return '&#44;';
                            case '/':
                                return '&#47;';
                            default:
                                return match;
                        }
                    });
                },
                updateCursorPosition(event) {
                    this.selectionStart = event.target.selectionStart;
                    this.selectionEnd = event.target.selectionEnd;
                },
                recoverTextAreaFocus() {
                    this.$nextTick(() => {
                        this.textArea.focus();
                        this.textArea.setSelectionRange(this.selectionStart, this.selectionEnd);
                    });
                },
                onFontBold() {
                    let selectText = this.input.slice(this.selectionStart, this.selectionEnd);
                    if (selectText.startsWith("**") && selectText.endsWith("**") && selectText.length > 4) {
                        this.input = this.input.slice(0, this.selectionStart).concat(selectText.slice(2, -2)).concat(this.input.slice(this.selectionEnd));
                        this.selectionEnd -= 4;
                    } else {
                        if (selectText.length === 0) {
                            this.input = this.input.slice(0, this.selectionStart).concat(`**bold text**`).concat(this.input.slice(this.selectionEnd));
                            this.selectionStart += 2;
                            this.selectionEnd += 11;
                        } else {
                            this.input = this.input.slice(0, this.selectionStart).concat(`**${selectText}**`).concat(this.input.slice(this.selectionEnd));
                            this.selectionEnd = this.selectionStart + selectText.length + 4;
                        }
                        
                    }
                    this.recoverTextAreaFocus();
                },
                onFontItalic() {
                    let selectText = this.input.slice(this.selectionStart, this.selectionEnd);
                    if (selectText.startsWith("*") && selectText.endsWith("*") && selectText.length > 2) {
                        this.input = this.input.slice(0, this.selectionStart).concat(selectText.slice(1, -1)).concat(this.input.slice(this.selectionEnd));
                        this.selectionEnd -= 2;
                    } else {
                        if (selectText.length === 0) {
                            this.input = this.input.slice(0, this.selectionStart).concat(`*italic text*`).concat(this.input.slice(this.selectionEnd));
                            this.selectionStart += 1;
                            this.selectionEnd += 12;
                        } else {
                            this.input = this.input.slice(0, this.selectionStart).concat(`*${selectText}*`).concat(this.input.slice(this.selectionEnd));
                            this.selectionEnd = this.selectionStart + selectText.length + 2;
                        }
                    }
                    this.recoverTextAreaFocus();
                },
                onFontStrike() {
                    let selectText = this.input.slice(this.selectionStart, this.selectionEnd);
                    if (selectText.startsWith("~~") && selectText.endsWith("~~") && selectText.length > 4) {
                        this.input = this.input.slice(0, this.selectionStart).concat(selectText.slice(2, -2)).concat(this.input.slice(this.selectionEnd));
                        this.selectionEnd -= 4;
                    } else {
                        if (selectText.length === 0) {
                            this.input = this.input.slice(0, this.selectionStart).concat(`~~strike text~~`).concat(this.input.slice(this.selectionEnd));
                            this.selectionStart += 2;
                            this.selectionEnd += 13;
                        } else {
                            this.input = this.input.slice(0, this.selectionStart).concat(`~~${selectText}~~`).concat(this.input.slice(this.selectionEnd));
                            this.selectionEnd = this.selectionStart + selectText.length + 4;
                        }
                    }
                    this.recoverTextAreaFocus();
                },
                onHead(level) {
                    if ((this.selectionStart === 0 || this.input[this.selectionStart - 1] === '\n')
                        && (this.selectionEnd === this.input.length || this.input[this.selectionEnd] === '\n')) {
                        let selectText = this.input.slice(this.selectionStart, this.selectionEnd);
                        for (heading of ["# ", "## ", "### ", "#### ", "##### ", "###### "]) {
                            if (selectText.startsWith(heading)) {
                                selectText = selectText.slice(heading.length);
                            }
                        }
                        if (selectText.length === 0) {
                            this.input = this.input.slice(0, this.selectionStart).concat(`${"#".repeat(level)} heading text`).concat(this.input.slice(this.selectionEnd));
                            this.selectionStart += level + 1;
                            this.selectionEnd += level + 13;
                        } else {
                            this.input = this.input.slice(0, this.selectionStart).concat(`${"#".repeat(level)} ${selectText}`).concat(this.input.slice(this.selectionEnd));
                            this.selectionEnd = this.selectionStart + selectText.length + level + 1;
                        }
                        this.recoverTextAreaFocus();
                    } else {
                        alert("设置标题需要选中整行");
                    }
                },
                onAddCode() {
                    if ((this.selectionStart === 0 || this.input[this.selectionStart - 1] === '\n')
                        && (this.selectionEnd === this.input.length || this.input[this.selectionEnd] === '\n')) {
                        // 选中整行，插入代码块
                        let selectText = this.input.slice(this.selectionStart, this.selectionEnd);
                        if (selectText.length === 0) {
                            this.input = this.input.slice(0, this.selectionStart).concat("```\ncode block\n```").concat(this.input.slice(this.selectionEnd));
                            this.selectionStart += 4;
                            this.selectionEnd += 14;
                        } else {
                            if (selectText.startsWith("```\n") && selectText.endsWith("\n```") && selectText.length > 8) {
                                this.input = this.input.slice(0, this.selectionStart).concat(selectText.slice(4, -4)).concat(this.input.slice(this.selectionEnd));
                                this.selectionEnd -= 8;
                            } else {
                                this.input = this.input.slice(0, this.selectionStart).concat("```\n").concat(selectText).concat("\n```").concat(this.input.slice(this.selectionEnd));
                                this.selectionEnd = this.selectionStart + selectText.length + 8;
                            }
                        }
                    } else {
                        // 选中部分，插入行内代码
                        let selectText = this.input.slice(this.selectionStart, this.selectionEnd);
                        if (selectText.length === 0) {
                            this.input = this.input.slice(0, this.selectionStart).concat("`inline code`").concat(this.input.slice(this.selectionEnd));
                            this.selectionStart += 1;
                            this.selectionEnd += 12;
                        } else {
                            if (selectText.startsWith("`") && selectText.endsWith("`") && selectText.length > 2) {
                                this.input = this.input.slice(0, this.selectionStart).concat(selectText.slice(1, -1)).concat(this.input.slice(this.selectionEnd));
                                this.selectionEnd -= 2;
                            } else {
                                this.input = this.input.slice(0, this.selectionStart).concat("`").concat(selectText).concat("`").concat(this.input.slice(this.selectionEnd));
                                this.selectionEnd = this.selectionStart + selectText.length + 2;
                            }
                        }
                    }
                    this.recoverTextAreaFocus();
                },
                onSelectImage(event) {
                    const file = event.target.files[0];
                    if (file) {
                        this.selectedImage = file.name;
                    }
                },
                onAddImage() {
                    let selectText = this.input.slice(this.selectionStart, this.selectionEnd);
                    if (selectText.length === 0) {
                        this.input = this.input.slice(0, this.selectionStart).concat(`![image alt](/blog/images/${this.selectedImage}){:width="100%"}`).concat(this.input.slice(this.selectionEnd));
                        this.selectionStart += 2;
                        this.selectionEnd += 11;
                    } else {
                        this.input = this.input.slice(0, this.selectionStart).concat(`![${selectText}](/blog/images/${this.selectedImage}){:width="100%"}`).concat(this.input.slice(this.selectionEnd));
                        this.selectionStart += 2;
                        this.selectionEnd = this.selectionStart + selectText.length;
                    }
                    this.selectedImage = "";
                    this.recoverTextAreaFocus();
                },
                onAddLink() {
                    let selectText = this.input.slice(this.selectionStart, this.selectionEnd);
                    if (selectText.length === 0) {
                        this.input = this.input.slice(0, this.selectionStart).concat(`[link text](https://){:target="_blank"}`).concat(this.input.slice(this.selectionEnd));
                        this.selectionStart += 1;
                        this.selectionEnd += 10;
                    } else {
                        this.input = this.input.slice(0, this.selectionStart).concat(`[${selectText}](https://){:target="_blank"}`).concat(this.input.slice(this.selectionEnd));
                        this.selectionStart += selectText.length + 3;
                        this.selectionEnd = this.selectionStart + 8;
                    }
                    this.recoverTextAreaFocus();
                },
                onAddHr() {
                    console.log(this.selectionStart !== this.selectionEnd, this.selectionStart !== 0, this.input[this.selectionStart - 1] !== '\n');
                    if (this.selectionStart !== this.selectionEnd) {
                        alert("不能在选中文本中插入水平线");
                        return;
                    }

                    let hrText = "\n\n---\n\n";
                    let lFlag = false;
                    let rFlag = false;

                    if (this.selectionStart === 0) {
                        lFlag = true;
                        hrText = hrText.slice(2);
                    } else if (this.selectionStart === 1) {
                        if (this.input[this.selectionStart - 1] === '\n') {
                            lFlag = true;
                            hrText = hrText.slice(2);
                        } // else lFlag = false
                    } else { // this.selectionStart >= 2
                        if (this.input[this.selectionStart - 1] === '\n') {
                            lFlag = true;
                            if (this.input[this.selectionStart - 2] === '\n') {
                                hrText = hrText.slice(2);
                            } else {
                                hrText = hrText.slice(1);
                            }
                        } // else lFlag = false
                    }

                    if (this.selectionEnd === this.input.length) {
                        rFlag = true;
                        hrText = hrText.slice(0, -2);
                    } else if (this.selectionEnd === this.input.length - 1) {
                        if (this.input[this.selectionEnd] === '\n') {
                            rFlag = true;
                            hrText = hrText.slice(0, -2);
                        } // else rFlag = false
                    } else { // this.selectionEnd <= this.input.length - 2
                        if (this.input[this.selectionEnd] === '\n') {
                            rFlag = true;
                            if (this.input[this.selectionEnd + 1] === '\n') {
                                hrText = hrText.slice(0, -2);
                            } else {
                                hrText = hrText.slice(0, -1);
                            }
                        } // else rFlag = false
                    }
                    
                    if (lFlag || rFlag) {
                        this.input = this.input.slice(0, this.selectionStart).concat(hrText).concat(this.input.slice(this.selectionEnd));
                        this.selectionStart += hrText.length;
                        this.selectionEnd += hrText.length;
                        this.recoverTextAreaFocus();
                    } else {
                        alert("不能在段落中插入水平线");
                    }
                },
            },
            mounted() {
                this.textArea = this.$refs.textInputRef;
            }
        })
        app.mount('#app')
    </script>
    
</body>
</html>