---
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title id="title">Minesweeper: Ghost</title>
    <meta name="author" content="Geng">
    <meta name="description" content="Mine Sweeper">

    <link rel="stylesheet" type="text/css" href="/shared/bootstrap-5.3.2.min.css">
    <link rel="stylesheet" type="text/css" href="css/minesweeper.css">
    <script type="text/javascript" src="/shared/jquery.min.js"></script>
    <script type="text/javascript" src="/shared/bootstrap-5.3.2.bundle.min.js"></script>
    <script type="text/javascript" src="js/ghostsweeper.js"></script>
</head>

<body>
    <div class="container">
        {% include header.html active-tab='games' breadcrumb-page='Minesweeper: Ghost' breadcrumb-page-zh='幽灵扫雷' %}

        <h1 id="gameName">Minesweeper: Ghost</h1>
        <ul id="rule" class="small text-secondary">
            <li>Once dead, mines and timer go back to the initial state and ghosts come.</li>
            <li>Your ghosts will repeat what you did before dying.</li>
        </ul>
        <br>
        <div class="d-flex justify-content-center align-items-center mb-2">
            <img src="../../octicons/svg/clock.svg">
            <div type="text" class="ms-2" id="time"></div>

            <img src="images/mine.png">
            <div type="text" class="ms-2" id="mine-num"></div>

            <label id="live-label" class="mb-0">Lives:</label>
            <div type="text" class="ms-2" id="live-num"></div>

            <label id="ghost-label" class="mb-0">Ghosts:</label>
            <div type="text" class="ms-2" id="ghost-num"></div>
                
            <div id="buttons" class="btn-group me-2" role="group">
                <button id="b15x15" class="btn btn-secondary">15 X 15</button>
                <button id="b30x15" class="btn btn-secondary">30 X 15</button>
                <button id="b30x30" class="btn btn-secondary">30 X 30</button>
                <button id="b10lives" class="btn btn-secondary">10 Lives</button>
            </div>
            <button id="reset" class="btn btn-secondary">RESET</button>
        </div>
        <div id="field-container" class="text-center">
            <div id="field" oncontextmenu="return false;"></div>
            <h2 id="result"></h2>
        </div>

        {% include footer.html %}
    </div>

    <script type="text/javascript">
        var lang = navigator.language;
        if (lang.slice(0, 2) === "zh") {
            $('#title').text("幽灵扫雷");
            $('#gameName').text("幽灵扫雷");
            $('#reset').text("重新开始");
            $('#live-label').text("命");
            $('#ghost-label').text("幽灵");
            $('#rule').html("<li>死亡后，雷区与计时都会回归起始状态并产生幽灵。</li><li>幽灵会重复踩雷之前的所有操作。</li>");
        }
    </script>
</body>

</html>