body {
	font-family: Arial, 隶书, Helvetica, sans-serif;
}

#field {
	margin: 0 auto;
	width: 470px;
	height: 470px;
    padding-top: 35px; 
	background-image: url("../images/chess/cboard.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

/*.field-row {
	height: 50px;
}*/

.field-grid {
	display: inline-block;
	width: 42px;
	height: 42px;
	/*height: 44px;*/
	margin: 4px;
	border-radius: 100%;
    /*color: azure;*/
    /*background-repeat: no-repeat;
    background-position: center;*/
    font-size: 2pc;
    vertical-align: top;
    cursor: pointer;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

.black {
    /*border: 1px solid azure;*/
    background-color: black;
    color: azure;
}
.white {
	border: 1px solid black;
    background-color: azure;
}

.field-grid.move-from {
    width: 54px;
	height: 54px;
    margin: -2px;
    font-size: 2.5pc;
    /*background-size: cover;*/
}

#pro-btns>button {
    font-size: 2.5pc;
}
/*
.red[role="general"] {
    background-image: url("../images/cchess/red-general.jpg");
}
.black[role="general"] {
    background-image: url("../images/cchess/black-general.jpg");
}

.red[role="guard"] {
    background-image: url("../images/cchess/red-guard.jpg");
}
.black[role="guard"] {
    background-image: url("../images/cchess/black-guard.jpg");
}

.red[role="minister"] {
    background-image: url("../images/cchess/red-minister.jpg");
}
.black[role="minister"] {
    background-image: url("../images/cchess/black-minister.jpg");
}

.red[role="horse"] {
    background-image: url("../images/cchess/red-horse.jpg");
}
.black[role="horse"] {
    background-image: url("../images/cchess/black-horse.jpg");
}

.red[role="chariot"] {
    background-image: url("../images/cchess/red-chariot.jpg");
}
.black[role="chariot"] {
    background-image: url("../images/cchess/black-chariot.jpg");
}

.red[role="cannon"] {
    background-image: url("../images/cchess/red-cannon.jpg");
}
.black[role="cannon"] {
    background-image: url("../images/cchess/black-cannon.jpg");
}

.red[role="soldier"] {
    background-image: url("../images/cchess/red-soldier.jpg");
}
.black[role="soldier"] {
    background-image: url("../images/cchess/black-soldier.jpg");
}
*/
.inactive {
    opacity: 0.5;
}