body {
	font-family: Arial, 隶书, Helvetica, sans-serif;
}

#taken {
    margin: 0 auto;
    max-width: 480px;
    text-align: left;
}

#field {
	margin: 0 auto;
	max-width: 500px;
	max-height: 500px;
	background: url("../images/field19.PNG");
	background-repeat: no-repeat;
	background-position: center;
}

.column {
	vertical-align: top;
	display: inline-block;
}

.grid {
	min-width: 22px;
	height: 22px;
	margin: 1px 1px;
	/*border: 1px solid black;*/
	border-radius: 100%;
    color: azure;
}

.taken-grid {
	width: 22px;
	height: 22px;
	border: 1px solid black;
	border-radius: 100%;
    color: azure;
}

.black {
	background: rgba(0, 0, 0, 1);
    text-align: center;
}
.black .seq {
    color: white;
    font-size: 12px;
}

.white {
	background: rgba(255, 255, 255, 1);
    text-align: center;
}
.white .seq {
    color: black;
    font-size: 12px;
}

.preBlack {
	background: rgba(0, 0, 0, 0.5);
}

.preWhite {
	background: rgba(255, 255, 255, 0.5);
}

.inactive {
	opacity: 0.5;
}

