body {
	text-align: center;
    font-family: 微软雅黑;
}

h1 {
	font-family: 隶书;
}

#rule {
	margin: -20px 0 0 0;
}

.field {
	margin: 0 auto;
	max-width: 500px;
	background: url("images/field15.PNG");
	background-repeat: no-repeat;
	background-position: center;
}

.col {
	vertical-align: top;
	display: inline-block;
}

.grid {
	width: 20px;
	height: 20px;
	margin: 10px 5px;
	/*border: 1px solid black;*/
	border-radius: 100%;
}

.black {
	background: rgba(0, 0, 0, 1);
}

.white {
	background: rgba(255, 255, 255, 1);
}

.preBlack {
	background: rgba(0, 0, 0, 0.5);
}

.preWhite {
	background: rgba(255, 255, 255, 0.5);
}

.players {
	margin: 10px auto;
	max-width: 500px;
	height: 120px;
	font-size: xx-large;
	font-family: 隶书;
}

.player {
	display: inline-block;
	vertical-align: top;
	border: 2px solid black;
	border-radius: 3px;
	padding: 10px;
}

.player.inactive {
	opacity: 0.5;
}

.player p {
	display: inline-block;
	vertical-align: top;
	margin: 0;
}

#wwin, #bwin {
	display: block;
	font-size: 140%;
	color: red;
}
