#rule {
	text-align: left;
	width: 600px;
}

#board {
	margin: 0 auto;
	/*max-width: 500px;*/
	/*background: url("images/field15.PNG");*/
	/*background-repeat: no-repeat;*/
	/*background-position: center;*/
}

#panel {
    margin: 10px auto;
}

.column {
	/*vertical-align: top;*/
	display: inline-block;
}

.grid {
	width: 40px;
	height: 40px;
	margin: 10px;
	border: 1px solid black;
    background: rgba(150, 150, 150, 1);
    position: relative;
    /*text-align: center;*/
    /*vertical-align: middle;*/
	/*border-radius: 100%;*/
}

.open {
    background: rgba(255, 255, 255, 1);
}

.grid p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*display: inline-block;
    vertical-align: middle;*/
}
