
#field {
    margin: 0 auto;
    max-width: 700px;
}

.show-pic {
    height: 300px;
    border: 1px solid black;
    border-radius: 5%;
}

#countdown-body {
    min-height: 100%;
    min-height: 100vh;
    position: relative;
}
#countdown-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 100%;
}

#result-text {
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: red;
    background-color: white;
    opacity: 0.8;
    padding: 0 20px;
    font-size: 6em;
}