---
---
<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>舍简从繁</title>
    <meta name="description" content="Chinese Simplified to Traditional">
    <meta name="author" content="Geng">

    <link rel="stylesheet" href="/shared/bootstrap-5.3.2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
</head>

<body>
    <div class="container">
        {% include header.html active-tab='tools' breadcrumb-page='舍简从繁' %}
        {% raw %}
        <h1 id="title">舍简从繁 <small>结合语境的中文简体转繁体工具</small></h1>
        <ul class="small text-secondary">
            <li>此工具可以标出常见的对应多个繁体字的简体字，并由使用者自行选字。此工具提供的选字提示和默认选字仅供参考，不可做为依据。</li>
            <li>此工具侧重收录目前港澳台地区实际使用的汉字，而并未囊括古代汉语中的各类异体字，因而适用于实际工作中简体文案转繁体，不适合用于古汉语研究等用途。</li>
            <li>此工具参考了台湾《教育部重编国语辞典修订本》、香港《繁简互转易错字辨析手册》（庄泽义，赵志峰）、<a href="https://www.zdic.net/" target="_blank">汉典</a>及众多网络文献，在此一并致谢。</li>
            <li>疏漏与错误在所难免，欢迎<a href="https://github.com/ZTGeng/ZTGeng.github.io/issues/2" target="_blank">在此贴下回贴讨论</a>。</li>
        </ul>
        <div class="container" id="app">
            <div class="row">
                <div class="col" id="left-area">
                    <div class="mb-2">
                        <button type="button" class="btn btn-outline-dark" v-on:click="clearText()">清除</button>
                    </div>
                    <textarea class="w-100" ref="inputbox" v-model="textInput" rows="10" placeholder="输入简体字"></textarea>
                </div>
                <div class="col-xl col-lg-6 col-md-12" id="right-area" v-on:click="hideModal">
                    <div class="mb-2 row">
                        <div class="col-auto">
                            <button type="button" class="btn btn-primary" v-on:click="convert">转换</button>
                        </div>
                        <div class="col-auto custom-switch">
                            <input type="checkbox" class="custom-control-input align-middle" id="rareCharSwitch" v-model="showRareChar">
                            <label class="custom-control-label align-middle" for="rareCharSwitch">
                                <abbr title="为罕见的转换关系提供选项" class="initialism text-decoration-none">罕见字义</abbr>
                            </label>
                        </div>
                        <div class="col-auto ms-auto">
                            <button type="button" class="btn btn-outline-dark" v-on:click="copyToClipboard()" v-bind:disabled="showClipboardError">
                                {{ showClipboardError ? "浏览器不支持剪贴，请手动复制" : "拷贝到剪贴板" }}
                            </button>
                        </div>
                    </div>
                    <div class="border p-2" ref="outputbox">
                        <template v-for="item in outputItems">
                            <span v-if="item.type === 'plain'">{{ item.text }}</span>
                            <br v-else-if="item.type === 'br'">
                            <a v-else-if="item.type === 'clickable'"
                                href="#" onclick="event.stopPropagation(); return false"
                                v-bind:ref="'i' + item.index "
                                v-on:click="onCharClick(item.index, item.options)">{{ item.char }}</a>
                        </template>
                    </div>
                    <div class="list-group z-3 position-absolute p-2"
                        ref="modal" v-bind:style="{ top: modalTop + 'px', left: modalLeft + 'px' }"
                        v-if="showModal">
                        <a href="#" class="list-group-item list-group-item-action" onclick="event.stopPropagation(); return false"
                            v-on:click="onOptionClick(option.char)"
                            v-for="option in modalOptions">{{ option.char }} <small>{{ option.text }}</small></a>
                    </div>
                </div>
            </div>
        </div>

        {% endraw %}
        {% include footer.html %}
    </div>

</body>
<script type="text/javascript" src="js/zhmap.js"></script>
<script type="text/javascript" src="js/zhs2t.js"></script>
</html>