---
---
<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title id="webTitle"></title>
    <link href="/shared/bootstrap-5.3.2.min.css" rel="stylesheet">
    <script src="/shared/bootstrap-5.3.2.bundle.min.js" type="text/javascript"></script>
</head>

<body>
    <div class="container">
        {% include header.html active-tab=page.active-tab lang-enabled=page.lang-enabled callback-en='switchToEn' callback-zh='switchToZh' %}
        <h1>
            <span id="title"></span><br>
            <small class="text-muted" id="greeting"></small>
        </h1>
        <br>

        <div id="portfolio">
            {% for catalog in page.catalogs %}
            <div id="catalog-{{ catalog.id }}">
                <h4 id="catalog-title-{{ catalog.id }}">{{ catalog.title[0].content }}</h4>
                <div id="carousel-{{ catalog.id }}" class="carousel carousel-dark slide mb-4">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="carousel-item-inner row row-cols-4 justify-content-center g-4">
                                {% for item in catalog.items %}
                                <div id="item-{{ item.id }}" class="col">
                                    <a href="{{ item.src }}" class="card h-100 text-decoration-none">
                                        <div class="px-3 pt-3">
                                            <img src="{{ item.imageSrc }}" class="card-img-top shadow rounded">
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">{{ item.title[0].content }}</h5>
                                            <p class="card-text">{{ item.intro[0].content }}</p>
                                        </div>
                                    </a>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel-{{ catalog.id }}" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" style="background-color: #000000; border-radius: 10%" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel-{{ catalog.id }}" data-bs-slide="next">
                        <span class="carousel-control-next-icon" style="background-color: #000000; border-radius: 10%" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            {% endfor %}
        </div>

        {% include footer.html %}
    </div>
    <script type="text/javascript">
        const catalogs = [
            {% for catalog in page.catalogs %}
            {
                id: "{{ catalog.id }}",
                title: {
                    {% for local-title in catalog.title %}
                    "{{ local-title.lang }}": "{{ local-title.content }}",
                    {% endfor %}
                },
                items: [
                    {% for item in catalog.items %}
                    {
                        id: "{{ item.id }}",
                        title: {
                            {% for local-title in item.title %}
                            "{{ local-title.lang }}": "{{ local-title.content }}",
                            {% endfor %}
                        },
                        intro: {
                            {% for local-intro in item.intro %}
                            "{{ local-intro.lang }}": "{{ local-intro.content }}",
                            {% endfor %}
                        },
                        src: "{{ item.src }}",
                        imageSrc: "{{ item.imageSrc }}",
                    },
                    {% endfor %}
                ]
            },
            {% endfor %}
        ];
        const translations = {
            "web_title": {
                {% for local-web-title in page.web-title %}
                "{{ local-web-title.lang }}": "{{ local-web-title.content }}",
                {% endfor %}
            },
            "title": {
                {% for local-title in page.title %}
                "{{ local-title.lang }}": "{{ local-title.content }}",
                {% endfor %}
            },
            "greeting": {
                {% for local-greeting in page.greeting %}
                "{{ local-greeting.lang }}": "{{ local-greeting.content }}",
                {% endfor %}
            },
        };

        const itemIdPrefix = "item-";
        const catalogIdPrefix = "catalog-";
        const catalogTitleIdPrefix = "catalog-title-";
        const carouselIdPrefix = "carousel-";

        function getNumOnPage() {
            const screenWidth = window.innerWidth;
            if (screenWidth < 768) {
                return 2;
            } else if (screenWidth < 992) {
                return 3;
            } else {
                return 4;
            }
        }

        function reorganizeCarousel(carousel, numOnPage) {
            const carouselInner = carousel.getElementsByClassName("carousel-inner")[0];
            if (!carouselInner) {
                return;
            }
            const carouselItems = carouselInner.getElementsByClassName("carousel-item");
            const items = [];
            for (let carouselItem of carouselItems) {
                const carouselItemInner = carouselItem.querySelector(".carousel-item-inner");
                if (!carouselItemInner) {
                    continue;
                }
                for (let item of carouselItemInner.children) {
                    items.push(item);
                }
            }
            carouselInner.innerHTML = "";

            const numPages = Math.ceil(items.length / numOnPage);
            for (let i = 0; i < numPages; i++) {
                const carouselItem = document.createElement("div");
                carouselItem.className = "carousel-item";
                if (i === 0) {
                    carouselItem.classList.add("active");
                }
                const carouselItemInner = document.createElement("div");
                carouselItemInner.className = "carousel-item-inner row row-cols-" + numOnPage + " justify-content-center g-4";
                for (let j = 0; j < numOnPage; j++) {
                    if (i * numOnPage + j >= items.length) {
                        break;
                    }
                    const item = items[i * numOnPage + j];
                    carouselItemInner.appendChild(item);
                }
                carouselItem.appendChild(carouselItemInner);
                carouselInner.appendChild(carouselItem);

            }
        }

        function listenToResize(catalogs, intervel = 200) {
            window.addEventListener("resize", () => {
                let inThrottle;
                let lastNumOnPage = getNumOnPage();
                if (!inThrottle) {
                    inThrottle = true;
                    setTimeout(function() {
                        inThrottle = false;

                        const numOnPage = getNumOnPage();
                        if (numOnPage !== lastNumOnPage) {
                            lastNumOnPage = numOnPage;
                            for (let catalog of catalogs) {
                                const carousel = document.getElementById(carouselIdPrefix + catalog.id);
                                reorganizeCarousel(carousel, numOnPage);
                            }
                        }
                    }, intervel);
                }
            });
        }

        function switchCatalogsLanguage(catalogs, lang) {    
            for (let catalog of catalogs) {
                const catalogTitle = document.getElementById(catalogTitleIdPrefix + catalog.id);
                if (catalogTitle) {
                    catalogTitle.textContent = catalog.title[lang] || catalog.title["en"];
                }

                for (let item of catalog.items) {
                    const itemDiv = document.getElementById(itemIdPrefix + item.id);
                    if (itemDiv) {
                        const cardTitle = itemDiv.querySelector(".card-title");
                        if (cardTitle) {
                            cardTitle.textContent = item.title[lang] || item.title["en"];
                        }

                        const cardText = itemDiv.querySelector(".card-text");
                        if (cardText) {
                            cardText.textContent = item.intro[lang] || item.intro["en"];
                        }

                        const imgElement = itemDiv.querySelector("img.card-img-top");
                        if (imgElement) {
                            imgElement.alt = item.title[lang] || item.title["en"];
                        }
                    }
                }
            }
        }

        function switchPageLanguage(lang) {
            document.title = translations.web_title[lang] || translations.web_title["en"];
            document.getElementById("title").textContent = translations.title[lang] || translations.title["en"];
            document.getElementById("greeting").textContent = translations.greeting[lang] || translations.greeting["en"];
        }
        function switchToZh() {
            switchPageLanguage("zh");
            switchCatalogsLanguage(catalogs, "zh");
        }
        function switchToEn() {
            switchPageLanguage("en");
            switchCatalogsLanguage(catalogs, "en");
        }

        document.addEventListener("DOMContentLoaded", () => {
            const userLang = navigator.language || navigator.userLanguage;
            const lang = userLang.slice(0, 2) || "en";
            switchPageLanguage(lang);
            switchCatalogsLanguage(catalogs, lang);
            listenToResize(catalogs);
        });
    </script>
</body>

</html>